{% load i18n %}
{% if warehouses %}
<ul class="rs-np-list" role="listbox">
  {% for w in warehouses %}
  <li>
    <button type="button" class="rs-np-list__item"
            data-np-wh-ref="{{ w.ref }}"
            data-np-wh-name="{{ w.name }}">
      {{ w.name }}
    </button>
  </li>
  {% endfor %}
</ul>
{% elif not city_ref %}
<p class="rs-np-empty">{% trans "Спочатку оберіть місто зі списку вище" %}</p>
{% elif q %}
<p class="rs-np-empty">{% trans "Відділень за запитом не знайдено" %}</p>
{% endif %}
