{% extends "admin/change_form.html" %}
{% load unfold %}

{# Фото товару між fieldsets і Відео (Unfold інакше рендерить усі інлайни після SEO). #}

{% block field_sets %}
    {% with has_conditional_display=adminform.model_admin.conditional_fields %}
        {% for fieldset in adminform %}
            {% if "tab" not in fieldset.classes and "rs-product-video-fieldset" not in fieldset.classes and "rs-product-seo-fieldset" not in fieldset.classes %}
                {% include "admin/includes/fieldset.html" %}
            {% endif %}
        {% endfor %}
        {% include "unfold/helpers/fieldsets_tabs.html" %}
    {% endwith %}
{% endblock %}

{% block inline_field_sets %}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% if inline_admin_formset.formset.prefix == "productimage" or "rs-product-images-inline" in inline_admin_formset.classes %}
            {% include inline_admin_formset.opts.template %}
        {% endif %}
    {% endfor %}

    {% with has_conditional_display=adminform.model_admin.conditional_fields %}
        {% for fieldset in adminform %}
            {% if "rs-product-video-fieldset" in fieldset.classes %}
                {% include "admin/includes/fieldset.html" %}
            {% endif %}
        {% endfor %}
        {% for fieldset in adminform %}
            {% if "rs-product-seo-fieldset" in fieldset.classes %}
                {% include "admin/includes/fieldset.html" %}
            {% endif %}
        {% endfor %}
    {% endwith %}

    {% for inline_admin_formset in inline_admin_formsets %}
        {% if inline_admin_formset.formset.prefix != "productimage" and "rs-product-images-inline" not in inline_admin_formset.classes %}
            {% include inline_admin_formset.opts.template %}
        {% endif %}
    {% endfor %}
{% endblock %}
